.container {
  width: 100%
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px
  }
}

.tailwind .isolate {
  isolation: isolate
}

.tailwind .block {
  display: block
}

.tailwind .flex {
  display: flex
}

.tailwind .table {
  display: table
}

.tailwind .grid {
  display: grid
}

.tailwind .hidden {
  display: none
}

.tailwind .flex-wrap {
  flex-wrap: wrap
}

.tailwind .truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.tailwind .uppercase {
  text-transform: uppercase
}

.tailwind .capitalize {
  text-transform: capitalize
}

.tailwind .italic {
  font-style: italic
}

.tailwind .outline {
  outline-style: solid
}

.tailwind .filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}